<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Student Management Student</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
		crossorigin="anonymous">
	</head>
	<body>
		
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		  <!-- Brand -->
		  <a class="navbar-brand" href="#">Student Management</a>

		  <!-- Toggler/collapsibe Button -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <!-- Navbar links -->
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/students}">Student Management</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		
		<div class="container">
			<div class="row">
				<h1>List Student</h1>	
			</div>
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th>Student Name</th>
						<th>Subject Name</th>
						<th>Grade</th>
						<th>Remarks</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each ="student: ${students}">
						<td th:text = "${student.studentName}"></td>
						<td th:text = "${student.subjectName}"></td>
						<td th:text = "${student.grade}"></td>
						<td th:text = "${student.remarks}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
</html>